### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out


go.work

config.toml
build.sh
Makefile
test-install.sh

# Editor/IDE
.idea/
.vscode/
*.swp

# Optional build outputs
/bin/
/build/
*.log
*.tmp
