### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cfg

go.work

config.toml
build.sh
Makefile
test-install.sh
llamarunner*

# Editor/IDE
.idea/
.vscode/
*.swp

# Optional build outputs
/bin/
/build/
*.log
*.tmp
